.myMessage {
    display: flex;
    width: 50%;
    height: 60px;
    background: white;
    margin: 20px 5px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.myMessageMain {
    display: flex;
    justify-content: flex-end;
}

.my-createdAt {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    font-style: italic;
    font-size: 12px;
    padding-top: 5px;
}

.my-message-actions {
    display: flex;
    align-self: center;
    font-size: 20px;
    cursor: pointer;
    flex-direction: column;
}