.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 300px;
    height: 100px;
    top: 50%;
    left: 50%;
    padding: 15px;
    transform: translate(-50%, -50%);
    background: #88d2f3;
    border-radius: 5px;
    border: 2px solid black
}

.modal input {
    width: 300px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid grey;
    font-size: 20px;
}

.modal button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid grey;
    cursor: pointer;
    margin: 5px auto;
    text-align: center;
}

.modal input::placeholder {
    font-size: 20px;
    padding-left: 5px;
}
