.message{
    display: inline-flex;
    width: 50%;
    background: #d4efb8;
    margin: 10px 5px;
    border: 1px solid #150808;
    border-radius: 5px;
}

.message img{
    display: grid;
    width: 80px;
    height: 80px;
    grid-area: avatar;
    padding: 5px;
}

.name-text {
    padding: 5px;
    width: 100%;
    height: 80px;
}

.messageLike {
    display: inline-flex;
    align-items: center;
    vertical-align: center;
    font-size: 25px;
    cursor: pointer;
}

.message .nickname {
    font-weight: bold;
}

.message .createdAt {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    font-style: italic;
    font-size: 12px;
    padding-top: 5px;
}

.message .text {
    display: flex;
    flex-grow:1;
}

.liked {
    color: #065fd4;
    align-items: center;
}

.notLiked {
    color: grey;
}